@each $key, $value in $card-theme {
    .main-cards{
        .card-#{$key} {
            .card-icon-container{
                background-color: rgba($color: $value, $alpha: 0.1);
            }
            .card-icon{
                color: $value;
              
            }
            transition: all 0.4s ease;
            &:hover{
                background-color: rgba($color: $value, $alpha: 1);

                .card-desc-title, .card-desc-number,.card-icon{
                    color: white;
                }
                .card-icon-container{
                    background-color: rgba($color: white, $alpha: 0.2);
                }
            }
        }

    }

}

@each $key, $value in $table-color {
    .status-type-#{$key}{
        background-color: rgba($color: $value, $alpha: 0.1);
        span{
            color:$value;
        }
    }
}