// Card styles goes here
.main-cards{
    // border: 1px solid goldenrod;
    width: 100%;

    .cards{
        margin: 0 -10px;
        flex-wrap: wrap;
        @include for-size(phone-only) {
            justify-content: center;
        }
    }
    .card-wrapper{
        width: $card-width;
        transition: all 0.4s ease-out;
        @include for-size(desktop-up) {
            width: $card-width * 2;
        }
        @include for-size(tablet-portrait-up) {
            width: $card-width * 3;
        }
        
        @include for-size(phone-only) {
            width: $card-width * 4;
        }
    }

    .card {
        height: $card-height;
        margin: $card-margin;
        // background-color: $primary-content-bg;
        padding: $card-inner-padding;
        transition: 0.3s all;
        background-color: $content-bg;
        border-radius: $content-border-radius;


        .card-desc-title{
            font-size: 0.8rem;
            color: $gray;

        }
        .card-desc-number{
            font-size: 1.5rem;
            font-weight: 600;

            @include for-size(desktop-up){
                font-size: $base-font;
            }
        }
        .card-icon-container{
            border-radius: 50%;
            width: 60px; 
            height: 60px;

        }
        .card-icon-container1{
            background-color: $content-bg ;
        }
        .card-icon-container2{
            background-color: $bg-list;
        }
        .card-icon-container3{
            background-color: $bg-cost;
        }
        .card-icon-container4{
            background-color: $bg-cart;
        }
        .card-icon-container5{
            background-color: $bg-dollar ;
        }
        .card-icon-container6{
            background-color: $bg-heart;
        }
}
}
